<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de login com banco de dados</title>

    <!-- css -->
    <link rel="stylesheet" href="styles/homepage.css">
</head>
<body>
    <div class="content">
        <%- include(`parts/${page}`) %> 
    </div>
    
</body>
</html>