<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de login com banco de dados</title>

    <!-- css -->
    <link rel="stylesheet" href="styles/homepage.css">
</head>
<body>
    <div class="content">
        <h2>Criar conta</h2>
        <div class="options">
            <form action="/perfil" method="POST">
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <button>Cadastrar</button>
            </form>
        </div>

        <a href="login">Login</a>
    </div>
    
</body>
</html>