<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>

    <link rel="stylesheet" href="styles/Dashboard.css">
</head>
<body>
    <div class="content">
        <h2>Ola João</h2>
        <section>
            <h3>Informações gerais</h3>
            <p>Ha um total de <%= users %> usuarios cadatrados</p>
        </section>
    </div>
</body>
</html>