<h2>Criar conta</h2>
<p>Usuario ou senha com menos de 8 caracteres</p>
<div class="options">
  <form action="/perfil" method="POST">
    <input type="text" name="username" id="username" />
    <input type="password" name="password" id="password" />
    <button>Cadastrar</button>
  </form>
</div>

<a href="login">Login</a>